---
import Layout from "@/layouts/Layout.astro";
import data from "@/assets/sti-survey.json";
import StiTable from "@components/sti-table";
---

<Layout title="Approaches">
  <main class="px-4">
    <StiTable data={data} client:load />
  </main>
</Layout>
