---
import Layout from "@/layouts/Layout.astro";
import Section from "@components/Section.astro";
import DatasetGraph from "@components/DatasetGraph.astro";
import Card from "@components/Card.astro";

import statistics from "@/assets/statistics.json";
const { approaches } = statistics;
---

<Layout title="Dataset">
  <main class="px-4">
    <Section title="Datasets statistics">
      <div class="bg-cardBackground py-10 rounded-lg">
        <DatasetGraph data={approaches} />
      </div>
    </Section>
  </main>
</Layout>
