---
import Layout from "@/layouts/Layout.astro";

import Section from "@components/Section.astro";
---

<Layout title="Tutorial">
  <main class="px-4">
    <Section title="">
      <h1 class="py-4 text-4xl font-bold mt-8">Tutorial</h1>
      <p
        class="mb-6 mt-4 font-light lg:mb-8 md:text-lg lg:text-xl text-gray-400"
      >
        This tutorial introduces the topic of Semantic Table Interpretation
        (STI), covering theoretical and practical considerations. In particular,
        the tutorial will provide a comprehensive analysis of how the approaches
        to STI have evolved from heuristic-based to ML-based, to the most recent
        LLM-based approaches. The analysis will consider the specific
        characteristics of these different classes, providing insights into
        their respective advantages and limitations to identify the contexts of
        use. The final part will describe a case study to demonstrate the
        application of two state-of-the-art approaches.
      </p>
    </Section>
  </main>
</Layout>
