---
import Layout from "@/layouts/Layout.astro";
import Bgblur from "@components/Bgblur.astro";
import Hero from "@components/Hero.astro";
import Timeline from "@components/Timeline.astro";
---

<Layout title="Mammotab website">
  <main class="px-4 ">
    <Bgblur></Bgblur>
    <Hero />
    <Timeline />
  </main>
</Layout>
