---
import Layout from "@/layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Section from "@components/Section.astro";
---

<Layout title="Mammotab website">
  <main class="px-4">
    <Hero/>
    <Section title="Description">
        <p class="mb-6 mt-4 font-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a dui porta, vestibulum nunc eget, varius erat. Mauris eu eleifend neque, vitae porta lacus. Sed elementum nibh a nisl blandit consectetur. </p>
    </Section>
    <Section title="Objectives">
      <p class="mb-6 mt-4 font-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a dui porta, vestibulum nunc eget, varius erat. Mauris eu eleifend neque, vitae porta lacus. Sed elementum nibh a nisl blandit consectetur. </p>
  </Section>
  </main>
</Layout>
