---
import Layout from "@/layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Section from "@components/Section.astro";
import Graph1 from "src/assets/Graph1.png";
import graph3 from "src/assets/graph3.png";
import Card from "@components/Card.astro";

---

<Layout title="Homepage">
  <main class="px-4">
    <Hero />
    <Section title="Description">
      <p
        class="mb-6 mt-4 lg:mb-8 md:text-base lg:text-base"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a dui
        porta, vestibulum nunc eget, varius erat. Mauris eu eleifend neque,
        vitae porta lacus. Sed elementum nibh a nisl blandit consectetur.
      </p>
      <div class="max-w-4xl margin bg-cardBackground rounded-lg px-8 py-5 overflow-hidden inline-block"> <img
        src={Graph1.src}
        alt="graph1"
        class="lg:mt-0 lg:col-span-4 lg:flex max-w-4xl w-full object-fit-cover"
      /> </div>
      <p
      class="mb-6 mt-4 lg:mb-8 md:text-base lg:text-base"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a dui
        porta, vestibulum nunc eget, varius erat. Mauris eu eleifend neque,
        vitae porta lacus. Sed elementum nibh a nisl blandit consectetur.
      </p>
      <div class="max-w-4xl margin bg-cardBackground rounded-lg px-8 py-5 overflow-hidden inline-block"><img
        src={graph3.src}
        alt="graph3"
        class="lg:mt-0 lg:col-span-4 lg:flex max-w-4xl w-full object-fit-cover"
      /> </div>
</Section>
    <Section title="Objectives">
      <p
           class="mb-6 mt-4 lg:mb-8 md:text-base lg:text-base"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a dui
        porta, vestibulum nunc eget, varius erat. Mauris eu eleifend neque,
        vitae porta lacus. Sed elementum nibh a nisl blandit consectetur.
      </p>
    </Section>
  </main>
</Layout>
