<div
  class="w-1/2 h-1/4 bg-gradient-30 from-[#FD726D] to-[#E99E57] opacity-20 rounded-[100%] absolute z-1 top-[20%] left-[20%] translate-x-[-50%] translate-y-[-50%] blur-[90px]"
>
</div>

<div
  class="w-1/2 h-1/4 rotate-210 bg-gradient-30 from-[#FD726D] to-[#E99E57] opacity-20 rounded-[100%] absolute z-1 top-[90%] left-[97%] translate-x-[-100%] translate-y-[-100%] blur-[90px]"
>
</div>

<div
  class="w-1/3 h-1/4 bg-gradient-30 from-[#FD726D] to-[#E99E57] opacity-20 rounded-[100%] absolute z-1 top-[240%] left-[10%] translate-x-[-50%] translate-y-[-100%] blur-[90px]"
>
</div>

<div
  class="w-3/4 h-1/4 bg-gradient-30 rotate-180 from-[#FD726D] to-[#E99E57] opacity-20 rounded-[100%] absolute z-1 top-[160%] left-[60%] translate-x-[-50%] translate-y-[-100%] blur-[90px]"
>
</div>

<div
  class="w-1/2 h-1/3 bg-gradient-30 rotate-180 from-[#FD726D] to-[#E99E57] opacity-20 rounded-[100%] absolute z-1 top-[320%] left-[50%] translate-x-[-50%] translate-y-[-100%] blur-[90px]"
>
</div>
