

<div class="overflow-hidden w-[1000px] h-[400px] bg-gradient-30 from-[#9E0974] to-[#6665E9] opacity-20 rounded-[100%] absolute z-1 top-[20%] left-[20%] translate-x-[-50%] translate-y-[-50%] blur-[90px]"></div>



