---
type Prop = {
  href?: string;
  variant?: "primary" | "secondary";
  className?: string;
};
const { href = "#", variant = "primary", className } = Astro.props;
---

<a
  href={href}
  class:list={[
    "inline-flex items-center px-4 py-2 text-sm font-medium rounded-lg transition-colors",
    variant === "primary"
      ? "bg-purple-500 hover:bg-purple-500/80"
      : "bg-purple-700 hover:bg-purple-700/80 saturate-50",
    className,
  ]}
>
  <slot />
</a>
