---
import Objectives from "./Objectives.astro";
---

<div class="flex overflow-x-scroll pb-10 hide-scroll-bar mt-5">
  <div class="flex flex-nowrap">
    <Objectives
      title="L1"
      text="Present key aspects of STI: the role of semantic annotation of tabular data; why STI remains relevant in the generative AI era; phases of STI design and deployment; and a review of existing solutions, highlighting their strengths and limitations"
      bgColor="bg-iconBackground-100"
    />
    <Objectives
      title="L2"
      text="Present a link and extend paradigm for sti as a unifying abstraction to develop semantic data enrichment solutions"
      bgColor="bg-iconBackground-200"
    />

    <Objectives
      title="L3"
      text="Provide a practical guide to creating a sti process using heuristic, ML and Large Language Model (LLM) based techniques in consideration of the key challenges that an sti approach must address"
      bgColor="bg-iconBackground-300"
    />
    <Objectives
      title="L4"
      text="Provide an example of the use-case that it considers of two SOTA approaches (one feature-based ML, and one llm-based) highlighting their salient characteristics, and defining guidelines for the choice in relation to the user’s objectives"
      bgColor="bg-iconBackground-400"
    />
    <Objectives
      title="L5"
      text="Discuss open research questions to stimulate further research on"
      bgColor="bg-iconBackground-500"
    />
  </div>
</div>

<style>
  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }
</style>
