<footer>
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
    <span class="block text-sm sm:text-center text-gray-400"
      >© 2023 University of Milano - Bicocca. All Rights Reserved.</span
    >
  </div>
</footer>
