---
import MenuItem from "@components/MenuItem.astro";
import { DropdownMenu } from "./ui/dropdown-menu";
---

<header class="bg-background sticky top-0 z-20">
  <nav>
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-end mx-auto p-4"
    >
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>

      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="flex flex-col p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0"
        >
          <MenuItem href="/" title="Home" />
          <MenuItem href="description" title="Description" />
          <MenuItem href="tutorial" title="Tutorial" />
          <MenuItem href="approaches" title="Approaches" />
          <MenuItem href="datasets" title="Datasets" />
          <MenuItem href="tools" title="Tools" />
          <li>
            <button
              id="dropdownNavbarLink"
              data-dropdown-toggle="dropdownNavbar"
              class="flex items-center justify-between w-full py-2 px-3 text-foreground rounded md:border-0 md:hover:text-purple-500 md:p-0 md:w-auto"
              >Our works <svg
                class="w-2.5 h-2.5 ms-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"></path>
              </svg></button
            >
            <!-- Dropdown menu -->
            <div
              id="dropdownNavbar"
              class="z-10 hidden font-normal divide-y divide-gray-100 rounded-lg shadow w-44 bg-dropdownBackground dark:divide-gray-600"
            >
              <ul
                class="py-2 text-sm text-foreground w-full"
                aria-labelledby="dropdownLargeButton"
              >
                <li>
                  <a
                    href="https://unimib-datai.github.io/mammotab-docs/"
                    class="block px-4 py-2 hover:text-mammotab"
                    >MammoTab <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-external-link"
                      ><path d="M15 3h6v6"></path><path d="M10 14 21 3"
                      ></path><path
                        d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                      ></path></svg
                    >
                  </a>
                </li>
                <li>
                  <a
                    href="https://unimib-datai.github.io/s-elbat-docs/"
                    class="block px-4 py-2 hover:text-purple-400"
                    >s-elBat <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-external-link"
                      ><path d="M15 3h6v6"></path><path d="M10 14 21 3"
                      ></path><path
                        d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                      ></path></svg
                    ></a
                  >
                </li>
                <li>
                  <a
                    href="https://unimib-datai.github.io/mantistable-ui-docs/"
                    class="block px-4 py-2 hover:text-mantis"
                    >MantisTable <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-external-link"
                      ><path d="M15 3h6v6"></path><path d="M10 14 21 3"
                      ></path><path
                        d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                      ></path></svg
                    ></a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<script>
  import { Dropdown, type DropdownOptions } from "flowbite";

  const collapse = document.querySelector(
    "[data-collapse-toggle='navbar-default']"
  );

  const toggleNavbar = () => {
    if (!collapse) return;
    const targetId = collapse.getAttribute("data-collapse-toggle");
    if (!targetId) return;

    const target = document.getElementById(targetId);
    if (!target) return;

    const expanded =
      collapse.getAttribute("aria-expanded") === "true" ? "true" : "false";

    collapse.setAttribute(
      "aria-expanded",
      expanded === "true" ? "false" : "true"
    );
    target.classList.toggle("hidden");
  };

  if (collapse) {
    collapse.addEventListener("click", toggleNavbar);
  }

  // set the dropdown menu element
  const $targetEl = document.getElementById("dropdownNavbar");

  // set the element that trigger the dropdown menu on click
  const $triggerEl = document.getElementById("dropdownNavbarLink");

  const options: DropdownOptions = {
    placement: "bottom",
    triggerType: "click",
    offsetSkidding: 0,
    offsetDistance: 10,
    delay: 300,
    ignoreClickOutsideClass: false,
  };

  // instance options object
  const instanceOptions = {
    id: "dropdownNavbarLink",
    override: true,
  };

  const dropdown = new Dropdown(
    $targetEl,
    $triggerEl,
    options,
    instanceOptions
  );

  const toggleDropdown = () => dropdown.toggle();
</script>
