---
import MenuItem from "@components/MenuItem.astro";
---

<header class="bg-background sticky top-0 z-20">
  <nav>
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-end mx-auto p-4"
    >
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>

      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="flex flex-col p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0"
        >
          <MenuItem href="/" title="Home" />
          <MenuItem href="description" title="Description" />
          <MenuItem href="tutorial" title="Tutorial" />
          <MenuItem href="approaches" title="Approaches" />
          <MenuItem href="datasets" title="Datasets" />
          <MenuItem href="tools" title="Tools" />
          <MenuItem href="mammotab" title="MammoTab" />
          <li>
            <button
              id="dropdownNavbarLink"
              data-dropdown-toggle="dropdownNavbar"
              class="flex items-center justify-between w-full py-2 px-3 text-foreground rounded md:border-0 md:hover:text-purple-500 md:p-0 md:w-auto"
              >Dropdown <svg
                class="w-2.5 h-2.5 ms-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"></path>
              </svg></button
            >
            <!-- Dropdown menu -->
            <div
              id="dropdownNavbar"
              class="z-10 hidden font-normal divide-y divide-gray-100 rounded-lg shadow w-44 bg-dropdownBackground dark:divide-gray-600"
            >
              <ul
                class="py-2 text-smtext-foreground"
                aria-labelledby="dropdownLargeButton"
              >
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-purple-600 hover:text-foreground"
                    >MammoTab</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >s-eLBat</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >MantisTable</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<script>
  const collapse = document.querySelector("[data-collapse-toggle]");

  const toggleNavbar = () => {
    if (!collapse) return;
    const targetId = collapse.getAttribute("data-collapse-toggle");
    if (!targetId) return;

    const target = document.getElementById(targetId);
    if (!target) return;

    const expanded =
      collapse.getAttribute("aria-expanded") === "true" ? "true" : "false";

    collapse.setAttribute(
      "aria-expanded",
      expanded === "true" ? "false" : "true"
    );
    target.classList.toggle("hidden");
  };

  if (collapse) {
    collapse.addEventListener("click", toggleNavbar);
  }
</script>
