---
import Bgblur from "@components/Bgblur.astro";
import Button from "./Button.astro";
import DataTablesDesign from "src/assets/DataTablesDesign.png";
---

<section>
  <div
    class="flex flex-col md:flex-row max-w-6xl pb-2 mx-auto lg:gap-12 xl:gap-12 lg:pt-10 lg:grid-cols-12"
  >
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1
        class="max-w-2xl pb-4 text-5xl font-bold bg-gradient-to-r from-[#9E0974] to-[#6665E9] inline-block text-transparent bg-clip-text background-move"
      >
        Resources on Semantic Table Interpretation
      </h1>
      <p
        class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
      >
        Welcome to the website for all things related to Semantic Table
        Interpretation (STI). Here, you'll find a wealth of information and
        resources to help you understand, implement, and innovate in the field
        of STI. Whether you're a researcher, developer, or enthusiast, our site
        offers detailed insights, cutting-edge research, and practical tools to
        support your work in making sense of tabular data.
      </p>
    </div>
    <img
      src={DataTablesDesign.src}
      alt="table illustration"
      class="lg:mt-0 lg:col-span-4 lg:flex max-w-lg w-full object-fit-cover hidden"
    />
  </div>
</section>
