---
import mammoth from "@/assets/geometric-mammoth.png";
---

<section class="mb-60 mt-32">
  <div
    class="flex flex-col md:flex-row items-center md:items-end justify-center mb-8 mx-auto"
  >
    <img
      src={mammoth.src}
      alt="Geometric Mammoth"
      class="w-full max-w-[420px] sm:ms-28 md:ms-0"
    />
    <h1 class="text-4xl font-bold mt-8">MAMMOTAB</h1>
  </div>
  <div class="m-auto max-w-prose">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p>
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.
    </p>
    <p>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur.
    </p>
  </div>
</section>
