---
import Button from "@components/Button.astro";

type Props = {
  title: string;
  version?: string;
  link?: string;
};

const { title, version, link } = Astro.props;
---

<li class="mb-48 ms-4">
  <div
    class="absolute w-3 h-3 bg-purple-500 rounded-full mt-1.5 -start-1.5 border border-purple-500"
  >
  </div>
  <div class="pt-1.5 mb-1 text-lg uppercase leading-none text-gray-500">
    {title}
  </div>
  {
    version && (
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-4xl font-semibold bg-gradient-to-b from-[#FD726D] to-[#E99E57] inline-block text-transparent bg-clip-text">
          {version}
        </h3>
        {link && (
          <Button href={link}>
            Download
            <svg
              class="w-4 h-4 ms-2"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-arrow-down-to-line"
            >
              <>
                <path d="M12 17V3" />
                <path d="m6 11 6 6 6-6" />
                <path d="M19 21H5" />
              </>
            </svg>
          </Button>
        )}
      </div>
    )
  }
  <div class="space-y-12">
    <slot />
  </div>
</li>
