---
type Prop = {
  title?: string;
  className?: string;
};
const { title, className } = Astro.props;
---

<section class:list={[" w-full mt-5 px-4", className]}>
  <div class="mx-auto max-w-6xl">
    {
      title && (
        <div>
          <h2 class="text-3xl font-semibold bg-gradient-to-r from-[#9E0974] to-[#6665E9] inline-block text-transparent bg-clip-text">
            {" "}
            {title}{" "}
          </h2>
        </div>
      )
    }

    <slot />
  </div>
</section>
