
<div class=" container ">
    <div class=" shadow-md sm:rounded-lg overflow-auto">
          <table class=" text-sm text-left rtl:text-right text-tableText ">
          <thead class="text-xs text-tableText uppercase bg-tableTop  ">
              <tr>
                  <th scope="col" class="px-6 py-3">
                      DATASET
                  </th>
                  <th scope="col" class="px-6 py-3">
                      N. OF TABLES
                  </th>
                  <th scope="col" class="px-6 py-3">
                      TOT ROWS
                  </th>
                  <th scope="col" class="px-6 py-3">
                      MIN ROWS
                  </th>
                  <th scope="col" class="px-6 py-3">
                      MAX ROWS
                  </th>
                  <th scope="col" class="px-6 py-3">
                    AVG ROWS
                </th>
                <th scope="col" class="px-6 py-3">
                    TOT COL
                </th>
                <th scope="col" class="px-6 py-3">
                    MIN COLS
                </th>
                <th scope="col" class="px-6 py-3">
                    MAX COLS
                </th>
                <th scope="col" class="px-6 py-3">
                    AVG COLS
                </th>
                <th scope="col" class="px-6 py-3">
                  N. OF CELLS
              </th>
               <th scope="col" class="px-6 py-3">
                AVG OF CELLS
            </th>
                <th scope="col" class="px-6 py-3">
                  MIN CELLS
              </th>
              <th scope="col" class="px-6 py-3">
                MAX CELLS
            </th>
            <th scope="col" class="px-6 py-3">
              N. OF NILS (CEA)
          </th>
          <th scope="col" class="px-6 py-3">
            ENTITIES
        </th>
        <th scope="col" class="px-6 py-3">
          CLASSES
      </th>
              </tr>
          </thead>
          <tbody class="text-foreground">
              <tr class="bg-tableBottom">
                  <th scope="row" class="px-6 py-4 font-medium text-foreground whitespace-nowrap">
                      Mammotab_Sembtab_2024
                  </th>
                  <td class="px-6 py-4">
                    888372
                  </td>
                  <td class="px-6 py-4">
                    21731092
                  </td>
                  <td class="px-6 py-4">
                      4
                  </td>
                  <td class="px-6 py-4">
                    14436
                </td>
                <td class="px-6 py-4">
                  23.698
              </td>
              <td class="px-6 py-4">
                5638191
            </td>
            <td class="px-6 py-4">
              1
          </td>
          <td class="px-6 py-4">
            100012
        </td>
          <td class="px-6 py-4">
          5.751
          </td>
          <td class="px-6 py-4">
            132994072
            </td>
            <td class="px-6 py-4">
              135.673
              </td>
              <td class="px-6 py-4">
                4
                </td>
                <td class="px-6 py-4">
                  900108
                  </td>
                  <td class="px-6 py-4">
                    4680670
                    </td>
                    <td class="px-6 py-4">
                      43661125
                      </td>
                      <td class="px-6 py-4">
                        5541283
                        </td>
              </tr>
          </tbody>
      </table>
      </div>
    </div>
  