<div class="flex flex-col gap-2 items-start mt-10 mb-20">
  <div class="overflow-x-auto rounded-lg max-w-full">
    <table class="text-sm text-tableText">
      <thead class="text-xs text-tableText uppercase bg-tableTop">
        <tr>
          <th scope="col" class="p-3 min-w-40"> Name </th>
          <th scope="col" class="p-3 min-w-24"> Coordinates </th>
          <th scope="col" class="p-3 min-w-40"> Height </th>
          <th scope="col" class="p-3 min-w-24"> Range </th>
        </tr>
      </thead>
      <tbody class="text-foreground">
        <tr class="even:bg-tableBottom odd:bg-tableBottom/70">
          <th scope="row" class="p-3 min-w-40 font-medium whitespace-nowrap"
            >Le Mount Blanc</th
          >
          <td class="p-3 min-w-24">45° 49' 57" N, 06° 51' 52" E</td>
          <td class="p-3 min-w-24">4808</td>
          <td class="p-3 min-w-24">M Blanc massif</td>
        </tr>

        <tr class="even:bg-tableBottom odd:bg-tableBottom/70">
          <th scope="row" class="p-3 min-w-40 font-medium whitespace-nowrap"
            >Le Mount Blanc</th
          >
          <td class="p-3 min-w-24">45° 59' 20" N, 07° 48' 10" E</td>
          <td class="p-3 min-w-24">3275</td>
          <td class="p-3 min-w-24">Pennine Alps</td>
        </tr>

        <tr class="even:bg-tableBottom odd:bg-tableBottom/70">
          <th scope="row" class="p-3 min-w-40 font-medium whitespace-nowrap"
            >Le Mount Blanc</th
          >
          <td class="p-3 min-w-24">45° 58' 35" N, 07° 39' 31" E</td>
          <td class="p-3 min-w-24">4478</td>
          <td class="p-3 min-w-24">Pennine Alps</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
