<div class="flex flex-col gap-2 items-start">
  <p class="pt-1.5 text-lg leading-none text-gray-400 mb-2">Evaluation</p>
  <p class="text-gray-300 text-sm mb-2 mt-0"> <a href="https://drive.google.com/drive/folders/1csBiqgPQXdDnwI1LcfBBwe3vzf9ujpTW?usp=sharing" target="_blank">Dataset</a> 511 tables, 9741 mentions
  </p>
  <div class="overflow-x-auto rounded-lg max-w-full">
    <table class="text-sm text-tableText">
      <thead class="text-xs text-tableText uppercase bg-tableTop">
        <tr>
          <th scope="col" class="p-3 min-w-40"> APPROACHES </th>
          <th scope="col" class="p-3 min-w-24"> CEA </th>
        </tr>
      </thead>
      <tbody class="text-foreground">
        <tr class="even:bg-tableBottom odd:bg-tableBottom/70">
          <th scope="row" class="p-3 min-w-40 font-medium whitespace-nowrap"
            ><a href="https://arxiv.org/abs/2311.09206" target="_blank"
              >Zang 2023</a
            ></th
          >
          <td class="p-3 min-w-24">0.86</td>
        </tr>

        <tr class="even:bg-tableBottom odd:bg-tableBottom/70">
          <th scope="row" class="p-3 min-w-40 font-medium whitespace-nowrap"
            ><a href="https://arxiv.org/abs/2006.14806" target="_blank"
              >Deng 2022</a
            ></th
          >
          <td class="p-3 min-w-24">0.31</td>
        </tr>

        <tr class="even:bg-tableBottom odd:bg-tableBottom/70">
          <th scope="row" class="p-3 min-w-40 font-medium whitespace-nowrap"
            ><a
              href="https://www.computer.org/csdl/proceedings-article/wi-iat/2023/091800a142/1T0o1Fv6jV6"
              target="_blank"
            >
              Avogadro 2023</a
            ></th
          >
          <td class="p-3 min-w-24">0.62</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
