
<div class="inline-block rounded-lg overflow-x-auto w-full">
    <table class=" text-sm text-left rtl:text-right text-tableText   ">
    <thead class="text-xs text-tableText uppercase bg-tableTop ">
        <tr>
            <th scope="col" class="px-36 py-3"> DATASET </th>
            <th scope="col" class="px-36 py-3"> CEA </th>
            <th scope="col" class="pl-36 pr-40 py-3"> CTA </th>
        </tr>
    </thead>
    <tbody class="text-foreground">
        <tr class="bg-tableBottom">
            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-center"> ZANG 2023</th>
            <td class="px-6 py-4 text-center"> #  </td>
            <td class="px-6 py-4 text-center "> # </td>
        </tr>

        <tr class="bg-tableBottom">
            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-center"> DEUG 2022</th>
            <td class="px-6 py-4 text-center">  #  </td>
            <td class="px-6 py-4 text-center"> # </td>
        </tr>

        <tr class="bg-tableBottom">
            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-center"> AVOGADRO 2023</th>
            <td class="px-6 py-4 text-center">  #  </td>
            <td class="px-6 py-4 text-center"> #   </td>
        </tr>
       
    </tbody>
</table>
</div>