
<div class="inline-block rounded-lg overflow-x-auto w-full">
          <table class=" text-sm text-left rtl:text-right text-tableText   ">
          <thead class="text-xs text-tableText uppercase bg-tableTop ">
              <tr>
                <th scope="col" class="pl-20 pr-28 py-3"> DATASET </th>
                <th scope="col" class="px-28 py-3"> CEA </th>
                <th scope="col" class="px-28 py-3"> CTA </th>
                <th scope="col" class="px-28 py-3"> CPA </th>
              </tr>
          </thead>
          <tbody class="text-foreground">
              <tr class="bg-tableBottom">
                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-center"> semtab2019 R4</th>
                <td class="px-6 py-4 text-center">  0.983  </td>
                <td class="px-6 py-4 text-center"> -   </td>
                <td class="px-6 py-4 text-center"> 0.832 </td>
              </tr>

              <tr class="bg-tableBottom">
                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-center"> semtab2020 R4</th>
                <td class="px-6 py-4 text-center">  0.907  </td>
                <td class="px-6 py-4 text-center"> 0.993   </td>
                <td class="px-6 py-4 text-center">  0.997 </td>
              </tr>

              <tr class="bg-tableBottom">
                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-center"> semtab2020 2T</th>
                <td class="px-6 py-4 text-center">  0.907  </td>
                <td class="px-6 py-4 text-center"> 0.728   </td>
                <td class="px-6 py-4 text-center">  - </td>
              </tr>
              <tr class="bg-tableBottom">
                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-center"> semtab2021 R3</th>
                <td class="px-6 py-4 text-center">  0.968  </td>
                <td class="px-6 py-4 text-center"> 0.984   </td>
                <td class="px-6 py-4 text-center">  0.993 </td>
              </tr>
              <tr class="bg-tableBottom">
                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-center"> MAMMOTAB 24</th>
                <td class="px-6 py-4 text-center">  0.853  </td>
                <td class="px-6 py-4 text-center"> 0.659   </td>
                <td class="px-6 py-4 text-center">  - </td>
              </tr>
          </tbody>
      </table>
    </div>
    
  