
<div class="inline-block rounded-lg overflow-x-auto w-full">
    Evaluation
    <table class=" text-sm text-left rtl:text-right text-tableText   ">
    <thead class="text-xs text-tableText uppercase bg-tableTop ">
        <tr>
            <th scope="col" class="px-36 py-3"> DATASET </th>
            <th scope="col" class="px-36 py-3"> CEA </th>
        </tr>
    </thead>
    <tbody class="text-foreground">
        <tr class="bg-tableBottom">
            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-center"><a href="https://arxiv.org/abs/2311.09206" target="_blank">Zang 2023</a></th>
            <td class="px-6 py-4 text-center">0.86</td>

        </tr>

        <tr class="bg-tableBottom">
            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-center"><a href="https://arxiv.org/abs/2006.14806" target="_blank">Deng 2022</a></th>
            <td class="px-6 py-4 text-center">0.31</td>
        </tr>

        <tr class="bg-tableBottom">
            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-center"><a href="https://www.computer.org/csdl/proceedings-article/wi-iat/2023/091800a142/1T0o1Fv6jV6" target="_blank"> Avogadro 2023</a></th>
            <td class="px-6 py-4 text-center">0.62</td>
        </tr>
    </tbody>
</table>
<a href="https://drive.google.com/drive/folders/1csBiqgPQXdDnwI1LcfBBwe3vzf9ujpTW?usp=sharing" target="_blank">Dataset</a> 511 tables, 9741 mentions
</div>