<div class="flex flex-col gap-2 items-start">
  <p class="pt-1.5 text-lg leading-none text-gray-400 mb-0">Evaluation</p>
  <p class="text-gray-300 text-sm mb-2 mt-0"> 
  <a href="https://ceur-ws.org/Vol-3103/paper8.pdf" target="_blank">
    Mtab performance</a
  ></p>
  <div class="inline-block rounded-lg overflow-x-auto max-w-full">
    <table class="text-sm text-left rtl:text-right text-tableText">
      <thead class="text-xs text-tableText uppercase bg-tableTop">
        <tr>
          <th scope="col" class="p-3 min-w-40"> DATASET </th>
          <th scope="col" class="p-3 min-w-24"> CEA </th>
          <th scope="col" class="p-3 min-w-24"> CTA </th>
          <th scope="col" class="p-3 min-w-24"> CPA </th>
        </tr>
      </thead>
      <tbody class="text-foreground">
        <tr class="even:bg-tableBottom odd:bg-tableBottom/70">
          <th scope="row" class="p-3 min-w-40 font-medium whitespace-nowrap"
            >Semtab2019 R4</th
          >
          <td class="p-3 min-w-24"> 0.983 </td>
          <td class="p-3 min-w-24"> - </td>
          <td class="p-3 min-w-24"> 0.832 </td>
        </tr>

        <tr class="even:bg-tableBottom odd:bg-tableBottom/70">
          <th scope="row" class="p-3 min-w-40 font-medium whitespace-nowrap"
            >Semtab2020 R4</th
          >
          <td class="p-3 min-w-24"> 0.907 </td>
          <td class="p-3 min-w-24"> 0.993 </td>
          <td class="p-3 min-w-24"> 0.997 </td>
        </tr>

        <tr class="even:bg-tableBottom odd:bg-tableBottom/70">
          <th scope="row" class="p-3 min-w-40 font-medium whitespace-nowrap"
            >Semtab2020 2T</th
          >
          <td class="p-3 min-w-24"> 0.907 </td>
          <td class="p-3 min-w-24"> 0.728 </td>
          <td class="p-3 min-w-24"> - </td>
        </tr>
        <tr class="even:bg-tableBottom odd:bg-tableBottom/70">
          <th scope="row" class="p-3 min-w-40 font-medium whitespace-nowrap"
            >Semtab2021 R3</th
          >
          <td class="p-3 min-w-24"> 0.968 </td>
          <td class="p-3 min-w-24"> 0.984 </td>
          <td class="p-3 min-w-24"> 0.993 </td>
        </tr>
        <tr class="even:bg-tableBottom odd:bg-tableBottom/70">
          <th scope="row" class="p-3 min-w-40 font-medium whitespace-nowrap"
            >MammoTab 22</th
          >
          <td class="p-3 min-w-24"> 0.853 </td>
          <td class="p-3 min-w-24"> 0.659 </td>
          <td class="p-3 min-w-24"> - </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
