---
import Upgrades from "@/components/Upgrades.astro";
---

<section>
  <ol class="relative border-s border-purple-500 max-w-screen-lg mt-8">
    <div class="absolute top-0 left-0 w-[1px] h-full bg-purple-500"></div>
    <Upgrades title="50 minutes" version="Semantic Table Interpretation">
      <div class="flex gap-4 items-center">
        <div>
          <p class="text-base md:text-base lg:text-base">
            <strong class="font-bold">Topics:</strong> Definitions; Tasks; Objectives,
            SemTab Challenge; (<a
              href="https://docs.google.com/presentation/d/1C6hPdxqAisKSqZpvDv25j_DqPAGX7kw4Shwan6z2Ip8/edit?usp=sharing"
              >slides</a
            >)
          </p>
        </div>
      </div>
    </Upgrades>
    <Upgrades title="50 minutes" version="State-of-the-art">
      <div class="flex gap-4 items-center">
        <div>
          <p class="text-base md:text-base lg:text-base">
            <strong class="font-bold">Topics:</strong> Key Challenges, SOTA; (<a
              href="https://docs.google.com/presentation/d/1EAN4soeAut9vuzt2rip1rDr7Slxx60JaTn1CSXTbzEc/edit?usp=sharing"
              >slides</a
            >)
          </p>
        </div>
      </div>
    </Upgrades>

    <Upgrades title="30 minutes" version="Break">
      <div class="flex gap-4 items-center"></div>
    </Upgrades>

    <Upgrades title="60 minutes" version="Impact of (L)LMs on STI">
      <div class="flex gap-4 items-center">
        <div>
          <p class="text-base md:text-base lg:text-base">
            <strong class="font-bold">Topics:</strong> From heuristic approaches
            to generalistic table interpretation and manipulation approaches; (<a
              href="https://docs.google.com/presentation/d/1F2qkGAoyyN83SkimgZjpdsiO-LtVmYtM7X3y45BgacM/edit?usp=sharing"
              >slides</a
            >)
          </p>
        </div>
      </div>
    </Upgrades>

    <Upgrades title="40 minutes" version="Hands-on session">
      <div class="flex gap-4 items-center">
        <div>
          <p class="text-base md:text-base lg:text-base">
            Fine-Tuning a LLM on CEA task (<a
              href="https://drive.google.com/drive/u/1/folders/1irbTMKvP4lNm_8SdJne_jNSIHgeghhBL"
              >material</a
            > & <a
              href="https://docs.google.com/presentation/d/1h58KmlkM72b0YYs12yKSXZQsxUL50h_TbIRPbyeuzV8/edit?usp=sharing"
              >slides</a
            >).
          </p>
        </div>
      </div>
    </Upgrades>
  </ol>
</section>
