---
import Upgrades from "@/components/Upgrades.astro";
---

<section>
  <ol class="relative border-s border-purple-500 max-w-screen-lg mt-8">
    <div class="absolute top-0 left-0 w-[1px] h-full bg-purple-500"></div>
    <Upgrades title="50 minutes" version="Semantic Table Interpretation">
      <div class="flex gap-4 items-center">
        <div>
          <p class="text-base md:text-base lg:text-base">
            <strong class="font-bold">Topics:</strong> definitions; challenges; examples;
            semantic interpretation as key enablers.
          </p>
        </div>
      </div>
    </Upgrades>
    <Upgrades title="50 minutes" version="State-of-the-art">
      <div class="flex gap-4 items-center">
        <div>
          <p class="text-base md:text-base lg:text-base">
            <strong class="font-bold">Topics:</strong> semantic table interpretation
            tools and techniques: lessons learned and limitations.
          </p>
        </div>
      </div>
    </Upgrades>

    <Upgrades title="30 minutes" version="Break">
      <div class="flex gap-4 items-center"></div>
    </Upgrades>

    <Upgrades title="60 minutes" version="Semantic Table Interpretation tasks">
      <div class="flex gap-4 items-center">
        <div>
          <p class="text-base md:text-base lg:text-base">
            <strong class="font-bold">Topics:</strong> how to implement different
            apporaches for CEA, CTA and CPA using heuristic, ML and LLM techniques.
          </p>
        </div>
      </div>
    </Upgrades>

    <Upgrades title="40 minutes" version="Hands-on session">
      <div class="flex gap-4 items-center">
        <div>
          <p class="text-base md:text-base lg:text-base">
            Analysis and use of SOTA approaches, s-elBat [2] and TableLlama
          </p>
        </div>
      </div>
    </Upgrades>
  </ol>
</section>
