---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Bgblur from "@components/Bgblur.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Welcome to the website for all things related to Semantic Table Interpretation (STI). Here, you'll find a wealth of information and resources to help you understand, implement, and innovate in the field of STI. Whether you're a researcher, developer, or enthusiast, our site offers detailed insights, cutting-edge research, and practical tools to support your work in making sense of tabular data."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body class="bg-background text-foreground font-sans">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  p + p {
    margin-block-start: 0.5rem;
  }
  section + section {
    margin-block-start: 4rem;
  }
  a:not([class]) {
    color: #6665e9;
    text-decoration: none;
  }
</style>
